@media only screen and (min-width: 999px) {
  .covid-page-nav-logo {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .fourteen-infalibles-page {
    text-align: center !important;
  }
  .sermons-page {
    text-align: center !important;
  }
  .kabaiimgg {
    margin-left: 0px !important;
  }
  .slalllll {
    margin-left: -35px !important;
  }
}
